In [37]:
import numpy as np 
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

import cufflinks as cf

from pprint import pprint

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report,confusion_matrix

#import sklearn.cross_validation as cross_validation
#from sklearn.cross_validation import train_test_split
import sklearn.model_selection as model_selection
from sklearn import linear_model

from IPython.display import Image  
from sklearn.externals.six import StringIO  
from sklearn.tree import export_graphviz
import pydot 

import mca

from sklearn.neighbors import KNeighborsClassifier

from random import sample

In [38]:
import os
os.getcwd()

'/Users/angelateng/Documents/GitHub/Projects/Covertype_Prediction/Data'

In [39]:
os.chdir('/Users/angelateng/Documents/GitHub/Projects/Covertype_Prediction/Data')
os.getcwd()

'/Users/angelateng/Documents/GitHub/Projects/Covertype_Prediction/Data'

In [40]:
data = open("covtype.data")
data = pd.read_csv("covtype.data", header=None)

In [41]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

In [42]:
# set column names 
cols = ['elevation', 'aspect', 'slope', 'horizontal_distance_to_hydrology', 
       'vertical_distance_to_hydrology', 'Horizontal_Distance_To_Roadways', 
       'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm', 'Horizontal_Distance_To_Fire_Points',
       'Wilderness_Area_1', 'Wilderness_Area_2', 'Wilderness_Area_3', 'Wilderness_Area_4', 
       'Soil_Type_1',
        'Soil_Type_2',
        'Soil_Type_3',
        'Soil_Type_4',
        'Soil_Type_5',
        'Soil_Type_6',
        'Soil_Type_7',
        'Soil_Type_8',
        'Soil_Type_9',
        'Soil_Type_10',
        'Soil_Type_11',
        'Soil_Type_12',
        'Soil_Type_13',
        'Soil_Type_14',
        'Soil_Type_15',
        'Soil_Type_16',
        'Soil_Type_17',
        'Soil_Type_18',
        'Soil_Type_19',
        'Soil_Type_20',
        'Soil_Type_21',
        'Soil_Type_22',
        'Soil_Type_23',
        'Soil_Type_24',
        'Soil_Type_25',
        'Soil_Type_26',
        'Soil_Type_27',
        'Soil_Type_28',
        'Soil_Type_29',
        'Soil_Type_30',
        'Soil_Type_31',
        'Soil_Type_32',
        'Soil_Type_33',
        'Soil_Type_34',
        'Soil_Type_35',
        'Soil_Type_36',
        'Soil_Type_37',
        'Soil_Type_38',
        'Soil_Type_39',
        'Soil_Type_40', 
       'Cover_Type']
#cols

In [43]:
data.columns = cols
data.head()

,elevation,aspect,slope,horizontal_distance_to_hydrology,vertical_distance_to_hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

In [44]:
#create dummy variables for multiclass predictor
cov_dummy = pd.get_dummies(data['Cover_Type'])
cov_dummy.head()

   1  2  3  4  5  6  7
0  0  0  0  0  1  0  0
1  0  0  0  0  1  0  0
2  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0
4  0  0  0  0  1  0  0

In [45]:
df4 = pd.concat([cov_dummy, data], axis = 1)
df4.head()

,1,2,3,4,5,6,7,elevation,aspect,slope,...,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,0,0,0,0,1,0,0,2596,51,3,...,0,0,0,0,0,0,0,0,0,5
1,0,0,0,0,1,0,0,2590,56,2,...,0,0,0,0,0,0,0,0,0,5
2,0,1,0,0,0,0,0,2804,139,9,...,0,0,0,0,0,0,0,0,0,2
3,0,1,0,0,0,0,0,2785,155,18,...,0,0,0,0,0,0,0,0,0,2
4,0,0,0,0,1,0,0,2595,45,2,...,0,0,0,0,0,0,0,0,0,5

In [46]:
from sklearn import preprocessing
import numpy as np

In [47]:
 df4_column_names = list(df4.columns)
df4_column_names.remove('Cover_Type')
#df4_column_names

In [48]:
# Normalize all columns

x = df4.loc[:, df4.columns != 'Cover_Type'].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_normalized = pd.DataFrame(data=x_scaled, columns=df4_column_names)
#df_normalized.loc[:,:] = x_scaled

In [49]:
df_normalized.head()

,1,2,3,4,5,6,7,elevation,aspect,slope,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.368684,0.141667,0.045455,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.365683,0.155556,0.030303,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.472736,0.386111,0.136364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.463232,0.430556,0.272727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.368184,0.125000,0.030303,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
#append Y axis babck to this 
df_normalized_w_target = pd.concat([df_normalized, df4['Cover_Type']], axis=1)
df_normalized_w_target.head()

,1,2,3,4,5,6,7,elevation,aspect,slope,...,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.368684,0.141667,0.045455,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.365683,0.155556,0.030303,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.472736,0.386111,0.136364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.463232,0.430556,0.272727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.368184,0.125000,0.030303,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [51]:
df_dummy = df_normalized_w_target
df_dummy = df_dummy.drop(['Cover_Type'], axis=1)
df_dummy.head()

,1,2,3,4,5,6,7,elevation,aspect,slope,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.368684,0.141667,0.045455,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.365683,0.155556,0.030303,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.472736,0.386111,0.136364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.463232,0.430556,0.272727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.368184,0.125000,0.030303,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
#plotting multiple binary categorical variables?
data.groupby('Cover_Type').describe()
#covertype min 4 = 2747, so we will do 2700 per covertype in the sample

           elevation                                                    \
               count         mean         std     min      25%     50%
Cover_Type
1           211840.0  3128.644888  157.805543  2466.0  3033.00  3146.0
2           283301.0  2920.936061  186.579366  2142.0  2794.00  2935.0
3            35754.0  2394.509845  196.732427  1859.0  2260.25  2404.0
4             2747.0  2223.939934  102.524587  1988.0  2142.00  2231.0
5             9493.0  2787.417571   96.594047  2482.0  2732.00  2796.0
6            17367.0  2419.181897  188.762292  1863.0  2320.00  2428.0
7            20510.0  3361.928669  106.915301  2868.0  3299.25  3363.0

                              aspect              ... Soil_Type_39       \
               75%     max     count        mean  ...          75%  max
Cover_Type                                        ...
1           3235.0  3686.0  211840.0  156.138227  ...          0.0  1.0
2           3042.0  3433.0  283301.0  152.060515  ...          0.0  1.0
3           2549.0  2899.0   35754.0  176.372490  ...          0.0  0.0
4           2304.0  2526.0    2747.0  137.139425  ...          0.0  0.0
5           2857.0  3011.0    9493.0  139.283051  ...          0.0  0.0
6           2544.0  2900.0   17367.0  180.539068  ...          0.0  0.0
7           3409.0  3858.0   20510.0  153.236226  ...          1.0  1.0

           Soil_Type_40
                  count      mean       std  min  25%  50%  75%  max
Cover_Type
1              211840.0  0.022781  0.149206  0.0  0.0  0.0  0.0  1.0
2              283301.0  0.001172  0.034213  0.0  0.0  0.0  0.0  1.0
3               35754.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
4                2747.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
5                9493.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
6               17367.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0
7               20510.0  0.175134  0.380091  0.0  0.0  0.0  0.0  1.0

[7 rows x 432 columns]

In [53]:
from collections import Counter


from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

from imblearn.datasets import make_imbalance
from imblearn.under_sampling import NearMiss
from imblearn.pipeline import make_pipeline
from imblearn.metrics import classification_report_imbalanced

print(__doc__)

Automatically created module for IPython interactive environment

In [54]:
# set target data  and x values
X=df_normalized_w_target[list(df_normalized_w_target.columns)[7:-1]]
print(X.shape)
X.head()

(581012, 54)

,elevation,aspect,slope,horizontal_distance_to_hydrology,vertical_distance_to_hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40
0,0.368684,0.141667,0.045455,0.184681,0.223514,0.071659,0.870079,0.913386,0.582677,0.875366,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.365683,0.155556,0.030303,0.151754,0.215762,0.054798,0.866142,0.925197,0.594488,0.867838,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.472736,0.386111,0.136364,0.191840,0.307494,0.446817,0.921260,0.937008,0.531496,0.853339,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.463232,0.430556,0.272727,0.173228,0.375969,0.434172,0.937008,0.937008,0.480315,0.865886,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.368184,0.125000,0.030303,0.109520,0.222222,0.054939,0.866142,0.921260,0.590551,0.860449,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
Y=df_normalized_w_target[list(df_normalized_w_target.columns)[-1]]
print(Y.shape)
Y.head()
#Y

(581012,)

0    5
1    5
2    2
3    2
4    5
Name: Cover_Type, dtype: int64

In [56]:
RANDOM_STATE = 42

#sample the data, 1000 per output
X, y = make_imbalance(X, Y,
                      sampling_strategy={1: 2700, 2: 2700, 3: 2700, 4:2700, 5:2700, 6:2700, 7:2700},
                      random_state=RANDOM_STATE)

In [57]:
#split into training and testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=RANDOM_STATE)

In [58]:
print('Training target statistics: {}'.format(Counter(y_train)))
print('Testing target statistics: {}'.format(Counter(y_test)))

Training target statistics: Counter({7: 2051, 1: 2037, 6: 2030, 2: 2027, 4: 2017, 5: 2016, 3: 1997})
Testing target statistics: Counter({3: 703, 5: 684, 4: 683, 2: 673, 6: 670, 1: 663, 7: 649})

In [59]:
from sklearn.svm import SVC
from sklearn.datasets import make_classification

from yellowbrick.features import RFECV

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold


from sklearn.tree import DecisionTreeClassifier

In [61]:
clf = DecisionTreeClassifier(random_state=42)
clf = clf.fit(X_train, y_train)

In [62]:
from pprint import pprint
feature_names = list(df_normalized_w_target.columns)[7:-1]
pprint(dict(zip(feature_names, clf.feature_importances_)))

{'Hillshade_3pm': 0.024338692346708674,
 'Hillshade_9am': 0.05474431362805693,
 'Hillshade_Noon': 0.031588443170715866,
 'Horizontal_Distance_To_Fire_Points': 0.0930480659630502,
 'Horizontal_Distance_To_Roadways': 0.09141709734862977,
 'Soil_Type_1': 0.0005502161716900051,
 'Soil_Type_10': 0.010854903277603361,
 'Soil_Type_11': 0.0025474016838818695,
 'Soil_Type_12': 0.007187509178280607,
 'Soil_Type_13': 0.0025383887114925415,
 'Soil_Type_14': 0.00035638308453080845,
 'Soil_Type_15': 0.0,
 'Soil_Type_16': 0.0007750781516651239,
 'Soil_Type_17': 0.005299620492667105,
 'Soil_Type_18': 0.0,
 'Soil_Type_19': 0.0,
 'Soil_Type_2': 0.004907256389156721,
 'Soil_Type_20': 0.0010018364378276115,
 'Soil_Type_21': 7.256441409499997e-05,
 'Soil_Type_22': 0.0032199353184837413,
 'Soil_Type_23': 0.0023515909641347184,
 'Soil_Type_24': 0.002740368081222008,
 'Soil_Type_25': 0.0,
 'Soil_Type_26': 0.00045218074995225367,
 'Soil_Type_27': 0.0004881281527167473,
 'Soil_Type_28': 0.00019155640243517888,
 'Soil_Type_29': 0.003610832324106573,
 'Soil_Type_3': 0.014862628921768005,
 'Soil_Type_30': 0.0022002226585984192,
 'Soil_Type_31': 0.002968755674248481,
 'Soil_Type_32': 0.004473742058961938,
 'Soil_Type_33': 0.002832508260413291,
 'Soil_Type_34': 0.0007440258992661116,
 'Soil_Type_35': 0.0023140059173128264,
 'Soil_Type_36': 0.0,
 'Soil_Type_37': 0.0,
 'Soil_Type_38': 0.004174157742189734,
 'Soil_Type_39': 0.004878189047427624,
 'Soil_Type_4': 0.015108674423113241,
 'Soil_Type_40': 0.0016507561339671637,
 'Soil_Type_5': 0.0002812100361672179,
 'Soil_Type_6': 0.00399369108164948,
 'Soil_Type_7': 0.0,
 'Soil_Type_8': 0.0002517307420604046,
 'Soil_Type_9': 5.233777783825151e-05,
 'Wilderness_Area_1': 0.01297727163951744,
 'Wilderness_Area_2': 0.0007889124325548126,
 'Wilderness_Area_3': 0.005958827744331286,
 'Wilderness_Area_4': 0.004624500128818145,
 'aspect': 0.03677515586431085,
 'elevation': 0.4157468735606852,
 'horizontal_distance_to_hydrology': 0.06331509852936072,
 'slope': 0.01591816079824565,
 'vertical_distance_to_hydrology': 0.03882620048409036}

In [65]:
#feature_list = pd.DataFrame(columns = (data.columns)[:-1])
feature_list = list(df_normalized_w_target.columns)[7:-1]
print(len(feature_list))

dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)

54

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [67]:
predictions = dtree.predict(X_test)
from sklearn import metrics
#this is for all the variables
print ("Decision Tree Train Accuracy:", metrics.accuracy_score(y_train, dtree.predict(X_train)))
print ("Decision Tree Test Accuracy:", metrics.accuracy_score(y_test, dtree.predict(X_test)))

Decision Tree Train Accuracy: 1.0
Decision Tree Test Accuracy: 0.8021164021164021

In [68]:
y_pred = dtree.predict(X_test)
print('Accuracy of decision tree classifier on test set: {:.2f}'.format(dtree.score(X_test, y_test)))

Accuracy of decision tree classifier on test set: 0.80

In [69]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))
#print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           1       0.71      0.67      0.69       663
           2       0.67      0.63      0.65       673
           3       0.76      0.76      0.76       703
           4       0.93      0.92      0.92       683
           5       0.87      0.93      0.90       684
           6       0.77      0.77      0.77       670
           7       0.89      0.93      0.91       649

    accuracy                           0.80      4725
   macro avg       0.80      0.80      0.80      4725
weighted avg       0.80      0.80      0.80      4725

In [70]:
print(confusion_matrix(y_test,predictions))

[[447 143   1   0  11   2  59]
 [129 427  23   0  64  18  12]
 [  0  20 534  25  11 113   0]
 [  0   0  36 630   0  17   0]
 [  9  25  11   0 633   6   0]
 [  3  20  97  25   9 516   0]
 [ 41   5   0   0   0   0 603]]